@font-face {
    font-family: molot;
    src: url(/styles/fonts/molot.otf);
 }

@font-face {
    font-family: mara;
    src: url(/styles/fonts/mara.ttf);
 }

* {
    margin: 0;
    padding: 0;
 }

html{
    background-image: url(/images/fondoNegro1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

body {
    background-color: #000000;
    display: grid;
    margin: 0vh 12vh;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr 0.4fr;
    grid-template-areas:
      "  navbar "
      " linea "
      " main "
      " linea2 "
      " footer ";
 }

.navbar {
    grid-area: navbar;
    background-color: #b20000;
    height: 10vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
 }

.logo{
    animation: fadeInDown;
    animation-duration: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
 }

.linea {
    grid-area: linea;
    background-color: #fff;
    color: #b20000;
    font-family: 'molot';
    text-align: right;
    word-spacing: 5px;
    letter-spacing: 3px;
 }